[2020-01-31 10:46] Guseyn opened #4 "Create pypi registery server in tests"

[2020-01-31 10:47] amihaiemil commented on #4
@Guseyn Please add descriptive texts to your Issues, not just titles. What is this issue about? What is missing or broken and how it can be implemented or fixed.

[2020-01-31 18:39] Guseyn commented on #4
@amihaiemil would you start working on the task if I will leave a description? Otherwise it's just waste of time as I am the only one who's gonna write the code for this task at least. And more over I am not sure what exactly I am going to do. It's just more a reminder to me.

[2020-02-01 11:11] amihaiemil commented on #4
@Guseyn Well, I might work on this project in the future. And many others might work on this project.

And when I start working on an OSS project, the first thing I do is look to see what has been implemented already and what needs to be implemented/fixed further. A well-structured OSS project has discipline as work is being done through tickets/Issues. But if I open Issues and I see nothing else

[2020-02-01 11:11] 0crat commented on #4
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.0](https://github.com/zerocracy/farm): Issue: artipie/pypi-adapter#4, Action: `created`

[2020-02-04 08:34] Guseyn opened #6 "Create HTMLMetaData interface"

[2020-02-04 08:35] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 08:35] 0crat commented on #6
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 11:12] Guseyn opened #7 "create meta interface and package meta realization"

[2020-02-04 11:12] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 11:12] 0crat commented on #7
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 11:13] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 11:13] 0crat commented on #7
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 12:38] Guseyn opened #9 "add info about pip in readme (just simple info), later it can be elengetified"

[2020-02-04 12:38] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 12:38] 0crat commented on #9
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-04 12:39] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 12:39] 0crat commented on #9
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 11:20] #7 closed

[2020-02-05 11:56] Guseyn opened #10 "Create Packages meta"

[2020-02-05 11:57] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-05 11:57] 0crat commented on #10
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 11:57] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-05 11:57] 0crat commented on #10
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 12:04] 0crat commented on #7
Job `gh:artipie/pypi-adapter#7` is not assigned, can't get performer

[2020-02-05 12:09] 0crat commented on #7
This job is not in scope

[2020-02-06 09:35] Guseyn opened #12 "avoid duplications in packages meta"

[2020-02-06 09:35] 0crat commented on #12
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-06 09:35] 0crat commented on #12
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 09:35] 0crat commented on #12
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-06 09:35] 0crat commented on #12
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 11:36] #10 closed

[2020-02-06 14:59] #12 closed

[2020-02-06 15:18] 0crat commented on #12
Job `gh:artipie/pypi-adapter#12` is not assigned, can't get performer

[2020-02-06 15:19] 0crat commented on #12
This job is not in scope

[2020-02-07 07:24] #6 closed

[2020-02-07 07:24] #9 closed

[2020-02-07 07:24] #4 closed

[2020-02-07 07:41] Guseyn opened #14 "add save to asto in LiveMeta interface"

[2020-02-07 07:41] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-07 07:41] 0crat commented on #14
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 07:42] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-07 07:42] 0crat commented on #14
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-07 08:05] 0crat commented on #9
Job `gh:artipie/pypi-adapter#9` is not assigned, can't get performer

[2020-02-07 08:05] 0crat commented on #6
Job `gh:artipie/pypi-adapter#6` is not assigned, can't get performer

[2020-02-07 08:43] 0crat commented on #9
This job is not in scope

[2020-02-07 09:05] 0crat commented on #6
This job is not in scope

[2020-02-07 09:05] 0crat commented on #4
This job is not in scope

[2020-02-07 09:23] 0crat commented on #4
Job `gh:artipie/pypi-adapter#4` is not assigned, can't get performer

[2020-02-10 07:23] #14 closed

[2020-02-10 08:00] 0crat commented on #14
Job `gh:artipie/pypi-adapter#14` is not assigned, can't get performer

[2020-02-10 08:13] 0crat commented on #14
This job is not in scope

[2020-02-10 11:11] Guseyn opened #17 "add abstraction byteflow"

[2020-02-10 11:11] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 11:11] 0crat commented on #17
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 11:12] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 11:12] 0crat commented on #17
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 12:11] Guseyn opened #20 "add artifact implementation"

[2020-02-10 12:11] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 12:11] 0crat commented on #20
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 12:12] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 12:12] 0crat commented on #20
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 06:29] #17 closed

[2020-02-11 07:07] 0crat commented on #17
Job `gh:artipie/pypi-adapter#17` is not assigned, can't get performer

[2020-02-11 08:00] 0crat commented on #17
This job is not in scope

[2020-02-11 14:00] #20 closed

[2020-02-11 14:39] 0crat commented on #20
Job `gh:artipie/pypi-adapter#20` is not assigned, can't get performer

[2020-02-11 14:54] 0crat commented on #20
This job is not in scope

[2020-02-14 16:35] Guseyn opened #22 "file from multi part"

[2020-02-14 16:35] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-14 16:35] 0crat commented on #22
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-17 10:59] Guseyn opened #25 "make javadoc with good description for classes."

[2020-02-17 10:59] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-17 10:59] 0crat commented on #25
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-26 08:26] Guseyn opened #26 "update ppom"

[2020-02-26 08:27] 0crat commented on #26
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-26 08:27] 0crat commented on #26
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-26 09:31] #26 closed

[2020-02-26 10:12] 0crat commented on #26
Job `gh:artipie/pypi-adapter#26` is not assigned, can't get performer

[2020-02-26 10:32] Guseyn opened #28 "serve static filees"

[2020-02-26 10:32] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-26 10:33] 0crat commented on #28
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-26 10:36] 0crat commented on #26
This job is not in scope

[2020-03-10 14:23] #28 closed

[2020-03-10 14:23] 0pdd opened #30 "StaticContent.java:92: Extract it into another class"
The puzzle `28-11c04522` from #28 has to be resolved:

https://github.com/artipie/pypi-adapter/blob/ae4c915069149ce2212c47b9313c492ee7e1d491/src/main/java/com/artipie/pypi/StaticContent.java#L92-L92

The puzzle was created by @Guseyn on 10-Mar-20.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-03-10 14:23] 0pdd commented on #28
@Guseyn the puzzle [#30](https://github.com/artipie/pypi-adapter/issues/30) is still not solved.

[2020-03-10 14:23] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-10 17:49] 0crat commented on #28
Job `gh:artipie/pypi-adapter#28` is not assigned, can't get performer

[2020-05-04 20:39] artemlazarev opened #32 "Codecov errors in CI"
We need to fix Codecov errors in CI process.
There is no ./target/site/jacoco/jacoco.xml file at the filesystem

[2020-05-04 20:39] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-12 09:36] g4s8 opened #33 "PyPi doesn't work"
Fix PyPi adapter and integrate to Artipie.

[2020-05-12 09:37] g4s8 commented on #33
@rultor release, tag=`0.1`

[2020-05-12 09:37] rultor commented on #33
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22026-627229176)

[2020-05-12 09:38] rultor commented on #33
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22026-627229176) (spent 15s)

[code]

[2020-05-12 09:46] g4s8 commented on #33
@rultor release, tag=`0.1`

[2020-05-12 09:47] rultor commented on #33
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22026-627233750)

[2020-05-12 09:50] 0crat commented on #33
The job [#33](https://github.com/artipie/pypi-adapter/issues/33) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aea6395f-54a2-40a4-91e7-1ce211be30f5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-05-12 09:57] rultor commented on #33
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22026-627233750) (took me 10min)

[2020-05-16 07:05] artemlazarev opened #34 "fix build issues"
According project progress "artipie-http" we must fix build issue of our project.
See file StaticContent.java:[73,51].

[2020-05-16 07:05] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-17 10:46] 0crat commented on #33
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-18 09:19] g4s8 commented on #34
@artemlazarev as I can see the build is ok: https://github.com/artipie/pypi-adapter/runs/666501143 where are these build issues?

[2020-06-01 08:36] #30 closed

[2020-06-01 08:36] 0pdd commented on #30
The puzzle `28-11c04522` has disappeared from the source code, that's why I closed this issue.

[2020-06-01 08:36] 0pdd commented on #28
@Guseyn the only puzzle [#30](https://github.com/artipie/pypi-adapter/issues/30) is solved here.

[2020-06-01 08:54] 0crat commented on #30
Job `gh:artipie/pypi-adapter#30` is not assigned, can't get performer

[2020-06-08 07:09] #32 closed

[2020-06-08 07:26] 0crat commented on #32
Job `gh:artipie/pypi-adapter#32` is not assigned, can't get performer

[2020-06-16 06:33] #34 closed

[2020-06-16 06:55] 0crat commented on #34
Job `gh:artipie/pypi-adapter#34` is not assigned, can't get performer

[2020-06-17 09:19] artemlazarev opened #40 "implement integrational test with big file"
Check multipart uploud functionality

[2020-06-17 09:19] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 09:16] 0pdd opened #41 "SliceIndex.java:39-41: made implementation of class that..."
The puzzle `33-be848d82` from #33 has to be resolved:

https://github.com/artipie/pypi-adapter/blob/8e7ebedc577f76ce95290c8345fcfbed2f984892/src/main/java/com/artipie/pypi/SliceIndex.java#L39-L41

The puzzle was created by @g4s8 on 18-Jun-20.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-06-18 09:16] 0pdd opened #42 "HtmlIndexResponse.java:42-44: split {@link..."
The puzzle `33-99347fb8` from #33 has to be resolved:

https://github.com/artipie/pypi-adapter/blob/8e7ebedc577f76ce95290c8345fcfbed2f984892/src/main/java/com/artipie/pypi/HtmlIndexResponse.java#L42-L44

The puzzle was created by @g4s8 on 18-Jun-20.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-06-18 09:16] 0pdd commented on #33
@g4s8 2 puzzles [#41](https://github.com/artipie/pypi-adapter/issues/41), [#42](https://github.com/artipie/pypi-adapter/issues/42) are still not solved.

[2020-06-18 09:17] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 09:17] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 12:29] artemlazarev opened #43 "integrational test for list operation"
`pip` does not seem to have specific operation to list available packages from remote repository:
`pip list` command list installed packages, options `--index-url` or `--find-links` have no affect:
[code]
[code]
[code]
To check all the available package versions it's [recommended](https://stackoverflow.com/a/26664162) use empty version tag:
[code]
`Pip` will not install the package, but list all t

[2020-06-18 12:31] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 05:55] artemlazarev opened #46 "made integrational test for install operation with "latest" tag"
made integrational test for install operation with "latest" tag.

[2020-06-19 05:56] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 06:12] artemlazarev opened #47 "implement authorization"

[2020-06-19 06:12] 0crat commented on #47
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-19 06:49] artemlazarev opened #49 "write test for upload operation with real big file"
For the right testing of multipart upload we must implement tests with really big file that will be splitted to parts during upload operation.

[2020-06-19 06:49] 0crat commented on #49
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-22 12:21] #33 closed

[2020-06-22 12:46] 0crat commented on #33
Job `gh:artipie/pypi-adapter#33` is not assigned, can't get performer

[2020-06-22 12:50] 0crat commented on #41
The job [#41](https://github.com/artipie/pypi-adapter/issues/41) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/384a0e84-cae9-4831-915a-0da0f31a40f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-06-24 07:07] artemlazarev opened #51 "Refactoring use latest code updates from ContentType class"
@artemlazarev two comments, please, take a look.
Also I'd suggest updating (maybe in separate issue/PR) http: ContentType class was introduced and other useful changes were made there.

[2020-06-24 07:07] 0crat commented on #51
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-26 13:23] artemlazarev opened #52 "tune the ppd rules"
* decrease world count of comment for PDD to at least 7
* increase time for max-estimate up to 1 day

[2020-06-26 13:24] 0crat commented on #52
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-27 13:47] 0crat commented on #41
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-29 07:36] g4s8 commented on #47
@rultor release, tag=`0.2`

[2020-06-29 07:38] rultor commented on #47
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22452-650987437)

[2020-06-29 07:45] rultor commented on #47
@artemlazarev @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22452-650987437) (spent 7min)

[code]

[2020-06-29 07:50] g4s8 commented on #47
@rultor release, tag=`0.2`

[2020-06-29 07:52] rultor commented on #47
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22452-650994013)

[2020-06-29 07:59] rultor commented on #47
@artemlazarev @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22452-650994013) (spent 7min)

[code]

[2020-06-29 08:42] g4s8 commented on #47
@rultor release, tag=`0.2`

[2020-06-29 08:43] rultor commented on #47
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22452-651021002)

[2020-06-29 08:44] rultor commented on #47
@artemlazarev @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22452-651021002) (spent 16s)

[code]

[2020-06-29 14:05] g4s8 commented on #47
@rultor release, tag=`0.2`

[2020-06-29 14:05] rultor commented on #47
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22452-651144608)

[2020-06-29 14:15] rultor commented on #47
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22452-651144608) (took me 9min)

[2020-07-02 08:28] g4s8 opened #54 "Pypi repository doesn't save anything"
When uploading python package to Artipie `pypi` repository using command:
[code]
Artipie accepts the payload and client completes successfully, but `tar.gz` packaged from `dist/` doesn't appear on Artipie storage.

[2020-07-02 08:29] 0crat commented on #54
The job [#54](https://github.com/artipie/pypi-adapter/issues/54) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/bafbc170-69bf-44be-a5f0-23e072261686); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-07-03 11:17] 0crat commented on #54
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-03 11:18] 0crat commented on #54
Job [#54](https://github.com/artipie/pypi-adapter/issues/54) is already in scope

[2020-07-03 11:18] 0crat commented on #54
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-07 08:46] 0crat commented on #54
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-08 10:17] 0crat commented on #54
The job [#54](https://github.com/artipie/pypi-adapter/issues/54) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/62026205-6bb0-40a7-9c8d-508065a51e32); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2020-07-10 07:46] #52 closed

[2020-07-10 07:46] #47 closed

[2020-07-10 07:47] #25 closed

[2020-07-10 07:47] #22 closed

[2020-07-10 07:51] olenagerasimova opened #59 "Normalized Names support"
About valid python project name:

According to [PEP 503](https://www.python.org/dev/peps/pep-0503/) simple python repo:

While installing project `pip`
- normalizes packages names when trying to obtain index page for package
- download package by provided links without normalization

E.g.
[code]

Python test [repository](https://pypi.org/simple/) redirects indexes to normalized urls, for example
[

[2020-07-11 10:06] olenagerasimova opened #61 "IT case to publish and install python package"
Create IT case to first publish and then install python. After the installation verify that package works properly.

[2020-07-11 10:12] olenagerasimova opened #62 "Restructure readme"
Follow suggestions from the article https://www.yegor256.com/2019/04/23/elegant-readme.html to restructure and fill up readme.

[2020-07-11 10:14] olenagerasimova opened #63 "Add code coverage metrics"
Use jacoco plugin and codecov to set up code coverage metrics.

[2020-07-13 10:53] 0crat commented on #54
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 12:14] olenagerasimova commented on #62
done in #65

[2020-07-13 12:14] #62 closed

[2020-07-13 12:32] 0crat commented on #62
Job `gh:artipie/pypi-adapter#62` is not assigned, can't get performer

[2020-07-13 13:02] 0pdd opened #67 "pom.xml:168-171: Improve code coverage by writing..."
The puzzle `63-ecd3feaa` from #63 has to be resolved:

https://github.com/artipie/pypi-adapter/blob/718f74b5d0ba312e32a900594f2cbc2dc3ca45b8/pom.xml#L168-L171

The puzzle was created by @olenagerasimova on 13-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2020-07-13 13:02] 0pdd commented on #63
@olenagerasimova the puzzle [#67](https://github.com/artipie/pypi-adapter/issues/67) is still not solved.

[2020-07-13 15:20] #41 closed

[2020-07-13 15:20] 0pdd commented on #41
The puzzle `33-be848d82` has disappeared from the source code, that's why I closed this issue.

[2020-07-13 15:21] #42 closed

[2020-07-13 15:21] 0pdd commented on #42
The puzzle `33-99347fb8` has disappeared from the source code, that's why I closed this issue.

[2020-07-13 15:21] 0pdd opened #68 "SliceIndexTest.java:40-41: Extend this test: check..."
The puzzle `41-22a137cd` from #41 has to be resolved:

https://github.com/artipie/pypi-adapter/blob/9953c68d12a681e84996f74261060ecf98302433/src/test/java/com/artipie/pypi/http/SliceIndexTest.java#L40-L41

The puzzle was created by @olenagerasimova on 13-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2020-07-13 15:21] 0pdd commented on #33
@g4s8 the puzzle [#68](https://github.com/artipie/pypi-adapter/issues/68) is still not solved; solved: [#41](https://github.com/artipie/pypi-adapter/issues/41), [#42](https://github.com/artipie/pypi-adapter/issues/42).

[2020-07-13 15:21] 0pdd commented on #41
@0pdd the puzzle [#68](https://github.com/artipie/pypi-adapter/issues/68) is still not solved.

[2020-07-13 15:57] 0crat commented on #42
Job `gh:artipie/pypi-adapter#42` is not assigned, can't get performer

[2020-07-13 15:59] 0crat commented on #41
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-13 19:02] olenagerasimova commented on #67
@0crat in

[2020-07-13 19:04] 0crat commented on #68
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [a4a2d2c6-a407-4bbe-afad-8901d3e1f6d9](https://www.0crat.com/footprint/CT2E6TK9B/a4a2d2c6-a407-4bbe-afad-8901d3e1f6d9), Type: "Job milestoned"

[2020-07-13 20:27] sereshqua commented on #41
@0crat quality bad

[2020-07-14 01:18] 0crat commented on #41
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-07-14 04:51] olenagerasimova commented on #63
done in #64

[2020-07-14 04:52] #63 closed

[2020-07-14 05:09] 0crat commented on #63
Job `gh:artipie/pypi-adapter#63` is not assigned, can't get performer

[2020-07-14 13:21] #68 closed

[2020-07-14 13:21] 0pdd commented on #68
The puzzle `41-22a137cd` has disappeared from the source code, that's why I closed this issue.

[2020-07-14 13:21] 0pdd commented on #33
@g4s8 all 3 puzzles are solved here: [#41](https://github.com/artipie/pypi-adapter/issues/41), [#42](https://github.com/artipie/pypi-adapter/issues/42), [#68](https://github.com/artipie/pypi-adapter/issues/68).

[2020-07-14 13:21] 0pdd commented on #41
@0pdd the only puzzle [#68](https://github.com/artipie/pypi-adapter/issues/68) is solved here.

[2020-07-14 14:03] 0crat commented on #68
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-15 10:11] olenagerasimova commented on #61
done in #71

[2020-07-15 10:11] #61 closed

[2020-07-15 10:14] olenagerasimova commented on #61
@rultor release, tag=`0.4`

[2020-07-15 10:15] rultor commented on #61
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22604-658681561)

[2020-07-15 10:21] rultor commented on #61
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22604-658681561) (spent 5min)

[code]

[2020-07-15 10:31] 0crat commented on #61
Job `gh:artipie/pypi-adapter#61` is not assigned, can't get performer

[2020-07-15 12:04] olenagerasimova commented on #61
@rultor release, tag=`0.4`

[2020-07-15 12:05] rultor commented on #61
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22604-658728128)

[2020-07-15 12:13] rultor commented on #61
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22604-658728128) (took me 8min)

[2020-07-16 19:55] olenagerasimova opened #74 "`WheelSlice` looses path from request"
`WheelSlice` looses key part from request on save: if request line is `\sample` and filename is `myproject-0.0.1.whl` then file should be saved by `sample\myproject\myproject-0.0.1.whl` key instead of `myproject\myproject-0.0.1.whl`

[2020-07-16 20:02] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [7ba1eaa5-2043-42dc-b945-c8f92b85e0d9](https://www.0crat.com/footprint/CT2E6TK9B/7ba1eaa5-2043-42dc-b945-c8f92b85e0d9), Type: "Job milestoned"

[2020-07-17 05:59] 0crat commented on #43
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [c2344046-a8d3-462e-8416-36094f68c39b](https://www.0crat.com/footprint/CT2E6TK9B/c2344046-a8d3-462e-8416-36094f68c39b), Type: "Job milestoned"

[2020-07-17 05:59] 0crat commented on #59
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [79ed4647-96b5-40dc-a62a-a91eee9e4a1e](https://www.0crat.com/footprint/CT2E6TK9B/79ed4647-96b5-40dc-a62a-a91eee9e4a1e), Type: "Job milestoned"

[2020-07-17 07:54] olenagerasimova opened #76 "`SliceIndex` should provide full path"
`pip` expects full relative (absolute paths are also supported but not useful in our case) path on index page to obtain package:
[code]
package is stored by `/alena/pypi/sample/alarmtime/alarmtime-0.1.5.tar.gz` full key, index now returns
[code]
and `pip` tries to obtain package by `http://localhost:80/sample/alarmtime/alarmtime-0.1.5.tar.gz` which is not suitable for our configuration.

Check for

[2020-07-17 07:56] 0crat commented on #76
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [d5dced4f-e31e-424b-bd6f-fafbd964aeae](https://www.0crat.com/footprint/CT2E6TK9B/d5dced4f-e31e-424b-bd6f-fafbd964aeae), Type: "Job milestoned"

[2020-07-17 10:56] olenagerasimova commented on #74
done in #75

[2020-07-17 10:56] #74 closed

[2020-07-17 11:14] 0crat commented on #74
Job was finished in 14 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-18 21:48] 0crat commented on #67
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-20 09:38] olenagerasimova commented on #76
done in @77

[2020-07-20 09:38] #76 closed

[2020-07-20 09:38] olenagerasimova commented on #76
@rultor release, tag=`0.5`

[2020-07-20 09:40] rultor commented on #76
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22656-660920132)

[2020-07-20 09:50] rultor commented on #76
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22656-660920132) (took me 10min)

[2020-07-20 11:01] olenagerasimova commented on #59
@g4s8 could you please take a look? Do you agree with my suggestion?

[2020-07-20 11:15] g4s8 commented on #59
@olenagerasimova yes, I agree, let's normalize package names and redirect unnormalized names.

[2020-07-21 10:31] olenagerasimova opened #79 "Redirect to normalized project names support"
According to [PEP 503](https://www.python.org/dev/peps/pep-0503/#specification) simple python repo:

We should support this feature by introducing redirect slice. This slice should normalize last part of the request line and redirect to the new location.
More details can be found in #59.

[2020-07-21 10:32] 0crat commented on #79
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [f9dfc930-e07c-4ed4-8c74-cd988721c776](https://www.0crat.com/footprint/CT2E6TK9B/f9dfc930-e07c-4ed4-8c74-cd988721c776), Type: "Job milestoned"

[2020-07-21 10:34] olenagerasimova commented on #59
@g4s8 I've extracted redirect support to #79 as this feature it not as relevant and urgent as names normalization.

[2020-07-21 10:36] olenagerasimova commented on #59
@rultor release, tag=`0.5.1`

[2020-07-21 10:38] rultor commented on #59
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22677-661778219)

[2020-07-21 10:45] rultor commented on #59
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22677-661778219) (took me 7min)

[2020-07-21 18:48] olenagerasimova commented on #59
done in #78 and will be done in #79

[2020-07-21 18:48] #59 closed

[2020-07-21 19:05] 0crat commented on #59
Job was finished in 12 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-22 06:26] olenagerasimova opened #82 "Integration test with denormalized project name"
Add integration test with denormalized python project name.

[2020-07-22 06:31] 0crat commented on #82
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [4b894eec-c9dc-4d8a-8d8e-003da398f03c](https://www.0crat.com/footprint/CT2E6TK9B/4b894eec-c9dc-4d8a-8d8e-003da398f03c), Type: "Job milestoned"

[2020-07-22 13:44] #43 closed

[2020-07-22 14:16] 0crat commented on #43
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-23 09:31] #82 closed

[2020-07-23 10:16] 0crat commented on #82
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-23 14:24] olenagerasimova commented on #79
@rultor release, tag=`0.5.2`

[2020-07-23 14:26] rultor commented on #79
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22709-663037444)

[2020-07-23 14:36] rultor commented on #79
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22709-663037444) (spent 10min)

[code]

[2020-07-23 14:47] olenagerasimova commented on #79
@rultor release, tag=`0.5.2`

[2020-07-23 14:48] rultor commented on #79
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22709-663050215)

[2020-07-23 14:58] rultor commented on #79
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22709-663050215) (spent 9min)

[code]

[2020-07-23 15:39] olenagerasimova commented on #79
@rultor release, tag=`0.5.2`

[2020-07-23 15:40] rultor commented on #79
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22709-663078625)

[2020-07-23 15:50] rultor commented on #79
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22709-663078625) (spent 10min)

[code]

[2020-07-23 17:10] olenagerasimova commented on #79
@rultor release, tag=`0.5.3`

[2020-07-23 17:12] rultor commented on #79
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22709-663125911)

[2020-07-23 17:21] rultor commented on #79
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22709-663125911) (took me 9min)

[2020-07-24 08:51] #79 closed

[2020-07-24 08:52] olenagerasimova commented on #79
@rultor release, tag=`0.5.4`

[2020-07-24 08:53] rultor commented on #79
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22709-663423364)

[2020-07-24 09:01] rultor commented on #79
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22709-663423364) (took me 8min)

[2020-07-24 12:27] olenagerasimova opened #86 "Read project metadata file on upload"
Python project name should be obtained from project archive on upload by unpacking the archive and reading project metadata file. Package format is described by [PEP 427](https://www.python.org/dev/peps/pep-0427/)

[2020-07-24 12:53] olenagerasimova opened #87 "Include hash in packages URL in index.html"
Let's add hash to packages URL on index.html as requested by [simple repository API](https://www.python.org/dev/peps/pep-0503/):

Repositories SHOULD choose a hash function from one of the ones guaranteed to be available via the hashlib module in the Python standard library (currently md5, sha1, sha224, sha256, sha384, sha512). The current recommendation is to use sha256.

[2020-07-24 12:57] 0crat commented on #86
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [d59fff6e-8f99-4307-8ea9-04b00a9ea470](https://www.0crat.com/footprint/CT2E6TK9B/d59fff6e-8f99-4307-8ea9-04b00a9ea470), Type: "Job milestoned"

[2020-07-24 12:57] 0crat commented on #87
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [b95cf8a4-0422-439d-8899-d546e30c985d](https://www.0crat.com/footprint/CT2E6TK9B/b95cf8a4-0422-439d-8899-d546e30c985d), Type: "Job milestoned"

[2020-07-27 04:59] olenagerasimova opened #88 "Update asto to 0.23.3"
Update asto to 0.23.3 and use `KeyLastPart` and `PublisherAs` from the new version.

[2020-07-27 05:00] 0crat commented on #88
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [0186fa7e-ad85-48c9-830f-e94cafdc3461](https://www.0crat.com/footprint/CT2E6TK9B/0186fa7e-ad85-48c9-830f-e94cafdc3461), Type: "Job milestoned"

[2020-07-27 09:31] olenagerasimova commented on #54
@g4s8 I've just upload test project into pypi repository (repository https://central.artipie.com/olenagerasimova/pypi/), can we close it?

[2020-07-27 10:41] #88 closed

[2020-07-27 10:59] 0crat commented on #88
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-27 12:20] g4s8 commented on #54
@olenagerasimova I just checked, and it's working, thanks

[2020-07-27 12:20] #54 closed

[2020-07-28 07:59] 0crat commented on #67
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-28 10:30] #87 closed

[2020-07-28 12:39] olenagerasimova opened #92 "Support all possible source distributions formats on download"
Python `sdist` [supports](https://docs.python.org/2/distutils/sourcedist.html) various source distribution archive formats: `zip`, `tar.gz`, `tar.bz2`, `tar.Z` and `.tar`. For now upload works for any file formats, but download works only for `whl` and `tar.gz`. This should be fixed.

[2020-07-28 15:59] #67 closed

[2020-07-28 15:59] 0pdd commented on #67
The puzzle `63-ecd3feaa` has disappeared from the source code, that's why I closed this issue.

[2020-07-28 15:59] 0pdd commented on #63
@olenagerasimova the only puzzle [#67](https://github.com/artipie/pypi-adapter/issues/67) is solved here.

[2020-07-29 12:21] #92 closed

[2020-07-29 13:20] 0crat commented on #67
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [3383c3ce-a629-403f-a20d-2c19d907f4ec](https://www.0crat.com/footprint/CT2E6TK9B/3383c3ce-a629-403f-a20d-2c19d907f4ec), Type: "Job milestoned"

[2020-07-29 13:22] 0crat commented on #87
Job was finished in 15 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-29 13:23] 0crat commented on #92
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [d084f8ff-9994-4353-88e3-ad030731b824](https://www.0crat.com/footprint/CT2E6TK9B/d084f8ff-9994-4353-88e3-ad030731b824), Type: "Job milestoned"

[2020-07-29 13:27] 0crat commented on #92
Job [#92](https://github.com/artipie/pypi-adapter/issues/92) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't set title

[2020-07-29 13:36] 0crat commented on #92
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-29 14:24] 0crat commented on #67
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-30 06:24] olenagerasimova opened #95 "Return 400 if file name does not start with project name"
Python simple repository returns 400 if uploaded file name does not start with project name specified in `PKG_INFO` metadata:

[code]
Project name in the example above is `olena-sample`.

If uploaded artifact is not properly named, then it's not possible to install it. So, I think we should check file name correspondence with metadata and return 400 if smth is wrong.

[2020-07-30 06:51] olenagerasimova opened #96 "Support python .egg packages"
Let's support legacy `egg` packages:

For more information check the [glossary](https://packaging.python.org/glossary/#term-egg) and [internal structure](https://setuptools.readthedocs.io/en/latest/formats.html).

[2020-07-31 04:41] olenagerasimova commented on #51
not valid any more

[2020-07-31 04:41] #51 closed

[2020-07-31 05:00] 0crat commented on #51
Job `gh:artipie/pypi-adapter#51` is not assigned, can't get performer

[2020-07-31 10:40] olenagerasimova opened #99 "Support tar.Z and tar.bz2"
Let's support `tar.bz2` and `tar.Z` archives upload as they are officially supported by [sdist](https://docs.python.org/3/distutils/sourcedist.html).

[2020-08-02 16:15] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [048a1cde-687b-42d4-8118-2143f3bab7e4](https://www.0crat.com/footprint/CT2E6TK9B/048a1cde-687b-42d4-8118-2143f3bab7e4), Type: "Job milestoned"

[2020-08-02 16:15] 0crat commented on #96
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [40a2404f-6b16-4ae1-8def-79b3c72f0812](https://www.0crat.com/footprint/CT2E6TK9B/40a2404f-6b16-4ae1-8def-79b3c72f0812), Type: "Job milestoned"

[2020-08-02 16:15] 0crat commented on #99
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [41d5c979-d726-4cff-ad2a-95f9c1fec701](https://www.0crat.com/footprint/CT2E6TK9B/41d5c979-d726-4cff-ad2a-95f9c1fec701), Type: "Job milestoned"

[2020-08-03 09:24] #96 closed

[2020-08-03 09:50] 0crat commented on #96
Job `gh:artipie/pypi-adapter#96` is not assigned, can't get performer

[2020-08-03 14:35] #99 closed

[2020-08-03 15:06] 0crat commented on #99
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-04 07:20] #86 closed

[2020-08-04 07:57] 0crat commented on #86
Job `gh:artipie/pypi-adapter#86` is not assigned, can't get performer

[2020-08-05 07:43] olenagerasimova opened #103 "Update http and use RequestLinePrefix in IndexSlice"
Update `http` module to 0.15.4 and use `RequestLinePrefix` in `IndexSlice`.

[2020-08-05 07:47] olenagerasimova opened #104 "Remove unused NormalizedProjectName implementation"
Remove `NormalizedProjectName.FromFilename` class and corresponding test as it's not used anymore (project name is obtained from metadata).

[2020-08-05 07:55] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [af2a1132-da00-4120-b46a-aebdf1e8c281](https://www.0crat.com/footprint/CT2E6TK9B/af2a1132-da00-4120-b46a-aebdf1e8c281), Type: "Job milestoned"

[2020-08-05 07:59] 0crat commented on #103
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [f7140134-3180-4c16-ad27-cba4bff61440](https://www.0crat.com/footprint/CT2E6TK9B/f7140134-3180-4c16-ad27-cba4bff61440), Type: "Job milestoned"

[2020-08-05 10:00] #95 closed

[2020-08-05 10:18] 0crat commented on #95
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-06 04:34] olenagerasimova commented on #46
done in #48

[2020-08-06 04:34] #46 closed

[2020-08-06 04:35] olenagerasimova commented on #40
duplicates #49

[2020-08-06 04:35] #40 closed

[2020-08-06 04:55] 0crat commented on #40
Job `gh:artipie/pypi-adapter#40` is not assigned, can't get performer

[2020-08-06 04:56] 0crat commented on #46
Job `gh:artipie/pypi-adapter#46` is not assigned, can't get performer

[2020-08-06 07:11] #104 closed

[2020-08-06 07:15] #103 closed

[2020-08-06 07:19] olenagerasimova commented on #99
@rultor release, tag=`0.6`

[2020-08-06 07:20] rultor commented on #99
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22835-669754367)

[2020-08-06 07:28] rultor commented on #99
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22835-669754367) (took me 8min)

[2020-08-06 07:31] 0crat commented on #104
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-06 07:35] 0crat commented on #103
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-10 06:38] olenagerasimova opened #107 "Update asto to 0.23.4"
Update asto to `0.23.4` and use `TestResource` in test classes to obtain test resources.

[2020-08-11 12:47] #107 closed

[2020-08-11 12:49] olenagerasimova commented on #107
@rultor release, tag=`0.6.1`

[2020-08-11 12:50] rultor commented on #107
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22906-671926597)

[2020-08-11 12:59] rultor commented on #107
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22906-671926597) (took me 8min)

[2020-08-11 13:05] 0crat commented on #107
Job `gh:artipie/pypi-adapter#107` is not assigned, can't get performer

[2020-08-20 11:35] Sammers21 opened #109 "Bump http version"
Http version should be updated, the current version does not function properly at artipie without it.

[2020-08-20 11:43] #109 closed

[2020-08-20 11:44] Sammers21 commented on #109
@olegmoz, @olenagerasimova, can you release a new version, please?

[2020-08-20 11:44] olegmoz commented on #109
@olenagerasimova could you please release `pypi-adapter`? I am not an architect in `.rultor` here

[2020-08-20 12:05] olenagerasimova commented on #109
@olegmoz sure, one moment

[2020-08-20 12:05] olenagerasimova commented on #109
@rultor release, tag=`0.6.2`

[2020-08-20 12:06] rultor commented on #109
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23072-677608511)

[2020-08-20 12:16] rultor commented on #109
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23072-677608511) (took me 9min)

[2020-10-04 15:19] olenagerasimova opened #126 "Python proxy"
Let's add python proxy, do not forget about authorization and integration tests.

- [x]  Index proxy https://github.com/artipie/pypi-adapter/issues/128
- [x] Artifact proxy https://github.com/artipie/pypi-adapter/issues/129
- [x] Proxy auth https://github.com/artipie/pypi-adapter/issues/130

[2020-10-09 12:11] olegmoz commented on #126
@olenagerasimova do you think this issue may be finished next week? If not, I'd ask to decompose it into smaller issues: for example basic proxy functionality first, cache next and authentication afterwards.

[2020-10-09 15:26] olenagerasimova opened #128 "Index proxy"
Let's implement the following logic for index requests to python proxy:
- we add index pages to cache after each request
- we return index pages from cache if remote is not available

[2020-10-09 15:33] olenagerasimova opened #129 "Artifact proxy"
First, it's necessary to investigate whether standard (performed by `pip`) request for artifact contains checksum or not. If yes, we can validate the artifact in the cache and act accordingly. If no, we can use the same logic as with index pages.

[2020-10-09 15:34] olenagerasimova opened #130 "Proxy auth"
Let's add authentication to proxy and corresponding test.

[2020-10-09 15:37] olenagerasimova commented on #126
@olegmoz I've decomposed this issue, I think next week we can finish the first part about index page proxy

[2020-10-12 12:30] olenagerasimova opened #131 "Update http and use `BasicAuthSlice`"
Let's update http and use `BasicAuthSlice` instead of `AuthSlice`.

[2020-10-13 06:29] #131 closed

[2020-10-13 07:02] 0crat commented on #131
Job was finished in 18 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-10-14 13:53] #128 closed

[2020-10-14 14:14] 0crat commented on #128
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-10-16 07:32] olenagerasimova opened #135 "Support pip search command"
Let's support [`pip search`](https://pip.pypa.io/en/stable/reference/pip_search/) as [artifactory](https://www.jfrog.com/confluence/display/JFROG/PyPI+Repositories#PyPIRepositories-SearchingforPyPIPackages) does. We should start with integration test as pip probably makes requests to indexes while searching and search is already working.

On search pip performs `POST` request to the index root wit

[2020-10-21 16:28] #129 closed

[2020-10-21 16:58] 0crat commented on #129
Job `gh:artipie/pypi-adapter#129` is not assigned, can't get performer

[2020-10-22 12:26] #130 closed

[2020-10-22 13:02] 0crat commented on #130
Job `gh:artipie/pypi-adapter#130` is not assigned, can't get performer

[2020-10-23 06:51] #126 closed

[2020-10-23 06:51] olenagerasimova commented on #126
@rultor release, tag=`0.7`

[2020-10-23 06:52] rultor commented on #126
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23586-715000185)

[2020-10-23 07:02] rultor commented on #126
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23586-715000185) (took me 10min)

[2020-10-23 07:09] 0crat commented on #126
Job `gh:artipie/pypi-adapter#126` is not assigned, can't get performer

[2020-10-23 07:43] #135 closed

[2020-10-23 07:43] olenagerasimova commented on #135
@rultor release, tag=`0.7.1`

[2020-10-23 07:44] rultor commented on #135
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23587-715092482)

[2020-10-23 07:52] rultor commented on #135
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23587-715092482) (spent 8min)

[code]

[2020-10-23 08:00] 0crat commented on #135
Job `gh:artipie/pypi-adapter#135` is not assigned, can't get performer

[2020-10-23 08:10] olenagerasimova commented on #135
@rultor release, tag=`0.7.1`

[2020-10-23 08:12] rultor commented on #135
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23587-715140290)

[2020-10-23 08:22] rultor commented on #135
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23587-715140290) (took me 10min)

[2020-10-29 10:45] olenagerasimova opened #145 "Properly handle redirects from remote"
In proxy, we should properly handle redirects from remote by following them and stashing/returning corresponding content to the client.

[2020-11-05 09:31] olenagerasimova opened #147 "Save content to cache by normalized key"
We should save content by normalized keys in proxy cache to avoid caching of the same content twice. For example `https://pypi.org/simple` redirects `/AlarmTime` to `/alarmtime`, so saving content by normalized keys we can provide more reliable proxy.

[2020-11-05 09:32] #145 closed

[2020-11-05 10:08] 0crat commented on #145
Job `gh:artipie/pypi-adapter#145` is not assigned, can't get performer

[2020-11-06 10:33] #147 closed

[2020-11-06 10:34] olenagerasimova commented on #147
@rultor release, tag=`0.7.2`

[2020-11-06 10:35] rultor commented on #147
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23647-723007158)

[2020-11-06 10:39] olenagerasimova opened #149 "Support absent content in proxy"
Let's update `asto` and support absent content in proxy by returning 404 to the client.

[2020-11-06 10:47] rultor commented on #147
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23647-723007158) (took me 12min)

[2020-11-06 11:01] 0crat commented on #147
Job `gh:artipie/pypi-adapter#147` is not assigned, can't get performer

[2020-11-11 08:01] #149 closed

[2020-11-11 08:17] 0crat commented on #149
Job `gh:artipie/pypi-adapter#149` is not assigned, can't get performer

[2020-11-13 09:41] olenagerasimova commented on #149
@rultor release, tag=`0.7.3`

[2020-11-13 09:42] rultor commented on #149
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23677-726660707)

[2020-11-13 09:49] rultor commented on #149
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23677-726660707) (spent 7min)

[code]

[2020-11-13 10:07] olenagerasimova commented on #149
@rultor release, tag=`0.7.3`

[2020-11-13 10:08] rultor commented on #149
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23677-726673663)

[2020-11-13 10:17] rultor commented on #149
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23677-726673663) (took me 9min)

[2021-03-24 14:14] olenagerasimova opened #152 "Optimize repository index page"
Pypi repo has index page with all repo packages listed in text html format along with their sha256 sum. This page is generated by `SliceIndex` on each request. Such approach may work fine when repository is not large, but on big repo generating this page can become a very time-consuming operation. We should think of creating and supporting some repository index file with artifacts names and sha su

[2021-04-27 10:39] olenagerasimova opened #153 "Proxy: add X-FullPath header on client request"
To configure artipie as pypi repository and pipy-proxy, it's necessary for proxy to pass its address in `FullPath`. Let's add the header if proxy repository is provided in config file.

[2021-05-19 07:35] g4s8 commented on #153
@olenagerasimova it looks like a more general issue, ad not related only to PyPi proxy. Maybe we should move it to artipie/http repo?

[2021-05-28 08:51] olenagerasimova opened #155 "Update asto and http"
Let's update asto and http and use `RsError` and `ArtipieException` where necessary.

[2021-05-28 09:04] #155 closed

[2021-09-20 13:31] olenagerasimova opened #159 "Update http and asto"
Let's update http and asto and use
- sdk api from asto to work with content as input stream when packages are read/parsed
- multipart sdk from asto in `WheelSlice`

[2022-02-03 06:27] olenagerasimova opened #164 "Refactor integration tests"
On mac os integration tests do not work well, it's necessary to restart docker client after each test, otherwise it stacks on container start up. Thus, let's refactor the approach in PypiContainer, also test `PypiPublishITCase` test can be removed as it duplicates tests in `PySliceITCase`.

[2022-02-04 11:15] #164 closed

[2022-02-04 12:51] #159 closed

[2022-02-14 08:22] olenagerasimova opened #167 "Uploading several packages"
`twine` allows to specify folder as upload source:
[code]
In this case all packed packages from `dist` folder are expected to be uploaded to repository.

We do not have integration test for such case in adapter and cannot be sure such case works. Let's add the test and fix the code if necessary.

[2022-02-16 06:29] #167 closed